.bulb {
    height: fit-content;
    border-radius: 2px;
    background: transparent;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bulb {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    z-index: 2;
}

#bulb:hover {
    fill: #999;
}

#bulb:hover~#glow {
    opacity: 0;
}

#glow {  
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
}

#base {
    fill: #eee;
    margin-top: 5px;
    display: block;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}